<h1>Filter</h1>
<div class="list-group">
    <h4>Genre</h4>
    <div class="list-group">
        <a asp-action="SearchByGenre" asp-route-genre="Manele" class="list-group-item">Manele</a>
        <a asp-action="SearchByGenre" asp-route-genre="Rock" class="list-group-item">Rock</a>
    </div>
    <h4>Artists</h4>
    <div class="list-group">
        <a asp-action="SearchByArtist" asp-route-title="Dani Mocanu" class="list-group-item">Dani Mocanu</a>
    </div>
</div>
